<div class="col-md-7 mx-auto ">
    <div class="p-4 bg-white rounded-bottom custom-border mb-4">
        <h1 class="display-4 my-4 px-md-5">La estación de los gatos</h1>
        <p class="lead px-3 px-md-5 lh-lg fs-5">
            La Estación de los Gatos es una asociación sin ánimo de lucro que gestiona de forma integral, ética y
            controlada las colonias felinas de las vías en la ciudad de Valladolid.
            Actualmente, gestionamos 14 colonias con más de 200 gatos, a los que alimentamos con pienso de calidad,
            desparasitamos, suplementamos, medicamos y para quienes construimos comederos cerrados y refugios aislados.<br>
            Nuestro objetivo es devolver la dignidad a los gatos de las vías.
        </p>
        <img src="assets/gatoInicio.jpg" alt="GatoPrincipal" class="d-block mx-auto img-fluid col-md-5 mt-4 mb-3">
    </div>
</div>