<div class="col-md-7 mx-auto ">
    <div class="p-4 bg-white rounded-bottom custom-border ">
        <h1 class="display-4 my-4 px-md-5">Qué hacemos</h1>
        <!-- Indice de los subapartados -->

        <div class="wiki-menu ms-5 mb-5">
            <h5 class="text-center fw-bold">
                Sumario
                <small>
                    <a href="#"></a>
                </small>
            </h5>

            <ol>
                <li>
                    <a [routerLink]="[]" fragment="alimentacion">
                        Alimentación y suplementación
                    </a>
                </li>

                <li>
                    <a [routerLink]="[]" fragment="castracion">
                        Castración, medicación y desparasitación
                    </a>
                </li>

                <li>
                    <a [routerLink]="[]" fragment="refugios">
                        Refugios y comederos
                    </a>
                </li>

                <li>
                    <a [routerLink]="[]" fragment="integracion">
                        Integración vecinal y eventos
                    </a>
                </li>
            </ol>
        </div>

        <div class="px-md-5">
            <section id="alimentacion" class="mb-5">
                <h2 class=" mt-4">1. Alimentación y suplementación</h2>
                <p>
                    Comida de calidad y apropiada.<br>
                    Pienso solo seco y comida humeda para gatos solo de forma controlada y para medicar y desparasitar,
                    con la autorización del veterinario municipal.<br>
                    Plata coloidal, lisina, tierra de diatomeas. <br>
                    Marcar la pauta.<br>
                </p>
            </section>

            <section id="castracion" class="mb-5">
                <h2 class="">2. Castración, medicación y desparasitación</h2>
                <p>
                    Al mismo tiempo en que se hace la castración. se pone el chip al gato, la vacuna trivalente y se
                    desparasita.<br>
                </p>
            </section>

            <section id="refugios" class="mb-5">
                <h2 class="">3. Refugios y comederos</h2>
                <p>
                    Comederos cerrados, para que no huelan. se limpian y desinfectan al menos una vez a la semana.<br>
                    Refugios aislados.<br>
                    No se reubican las colonias.<br>
                </p>
            </section>

            <section id="integracion" class="mb-5">
                <h2 class="">4. Integración vecinal y eventos</h2>
                <ul>
                    <li>
                        <p>
                            Mercadillos solidarios
                        </p>
                    </li>
                    <li>
                        <p>
                            Sorteos
                        </p>
                    </li>
                    <li>
                        <p>
                            Mesas informativas
                        </p>
                    </li>
                    <li>
                        <p>
                            Formaciones
                        </p>
                    </li>
                    <li>
                        <p>
                            Actividades, conciertos y varios
                        </p>
                    </li>
                    <li>
                        <p>
                            Charlas
                        </p>
                    </li>
                    <li>
                        <p>
                            Asociación de vecinos
                        </p>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>