.custom-border {
    border-bottom: 2px solid #a36008; 
    border-left: 2px solid #a36008;
    border-right: 2px solid #a36008;
  }

.wiki-menu {
  max-width: 350px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.wiki-menu a {
  text-decoration: none;
  color: #0d6efd;
}

.wiki-menu a:hover {
  text-decoration: underline;
}

.wiki-menu ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}