<div>
    <nav class="navbar navbar-dark bg-dark small-header">
      <div class="container-fluid justify-content-end">
        <a href="https://facebook.com" target="_blank" class="me-3 text-white d-flex align-items-center">
          <i class="fab fa-facebook me-1"></i> Facebook
        </a>
        <a href="https://twitter.com" target="_blank" class="me-3 text-white d-flex align-items-center">
          <i class="fab fa-twitter me-1"></i> Twitter
        </a>
        <a href="https://instagram.com" target="_blank" class="me-3 text-white d-flex align-items-center">
          <i class="fab fa-instagram me-1"></i> Instagram
        </a>
        <a href="https://linkedin.com" target="_blank" class="text-white d-flex align-items-center">
          <i class="fab fa-linkedin me-1"></i> LinkedIn
        </a>
      </div>
    </nav>
    <div class="main-container">
      <header>
        <img src="assets/logoModificado.png" alt="La estacion de los gatos" class="col-sm-4">
      </header>
      <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light col-md-7 mx-auto custom-border">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav w-100 d-flex justify-content-between">
              <li class="nav-item ms-2">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/adopciones" routerLinkActive="active">Adopciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/galeria" routerLinkActive="active">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/noticias" routerLinkActive="active">Noticias</a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
              </li>
            </ul>
          </div>
        </nav>
      </main>
    </div>
  </div>
  