<div class="col-md-7 mx-auto ">
    <div class="p-4 bg-white rounded-bottom custom-border ">
        <h1 class="display-4 my-4 px-md-5">Quiénes somos</h1>
        <p class="lead px-3 px-md-5 lh-lg fs-5">
            <b>¿Cómo empezó todo?</b><br><br>
            En 2016, varios dueños de perros paseábamos por la Calle Estación y vimos una colonia de gatos callejeros.
            Observamos que una mujer solía alimentarlos con comida inadecuada para ellos (restos de comida de las personas).
            Posteriormente, ella fue hospitalizada y nosotras decidimos hacernos cargo de la colonia.
            Nuestra visión iba más allá: conseguir una buena alimentación para ellos, pero también una buena salud y condiciones de vida.<br><br>
            <!-- Poner guiones para separlo-->
            Para empezar a tomar acción tuvimos que hablar con:
               - Los vecinos de los alrededores, para garantizar la integración de la colonia.
               - El Ayuntamiento de Valladolid, para solicitar permisos y trabajar en conjunto. Por ejemplo, la concejala María Sánchez formó
                parte del desarrollo de un decreto que permitiría regular la gestión de las colonias felinas. Además, se firmó un documento con ADIF
                para que pudiéramos acceder a las dependencias ferroviarias.
               - Los establecimientos de la zona, para recolectar firmas que fueron presentadas al Ayuntamiento para apoyar el proyecto.<br><br>
            <b>Diez años después...</b><br><br>

                - Hemos crecido lo suficiente para asumir la gestión de 15 colonias asentadas a lo largo de las vías del tren.<br><br>
                <!--fotos del después-->
                Mira lo que hacemos actualmente: <!--boton de redirigir al apartado Qué hacemos-->

        </p>
    </div>
</div>
