body {
    margin: 0;
    padding: 0;
    font-family: 'raleway';
    background-color: #E3F2FD;
    /* Azul muy suave */
}

.main-container {
    text-align: center;
}

header {
    padding: 20px;
    background: transparent;
    /* Fondo blanco semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #E3F2FD;
    /* Azul suave */
}

.nav-link {
    font-size: 18px;
    padding: 10px;
    display: block;
    padding: 1rem; /* más alto si quieres más área clicable */
    transition: background-color 0.3s;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* Espaciado equidistante */
    padding: 0;
}

.nav-item {
    flex: 1;
    /* Hace que todos los elementos ocupen el mismo espacio */
    text-align: center;
    /* Centra el texto en cada item */
}

.nav-link {
    display: block;
    padding: 1.2rem; /* más alto si quieres más área clicable */
    transition: background-color 0.3s;
  }

.nav-link:hover {
    background-color: #E3F2FD;
    /* Cambiar el fondo al pasar el ratón */
    color: black;
    /* Cambiar el color del texto */
    border-radius: 5px;
    /* Agregar bordes redondeados (opcional) */
}